input[type=button] {
    width: 150px;
    height: 150px;
    font-size: 80px;

}

table {
    position: relative;
    border-collapse: collapse;
}

td,
tr {
    position: relative;
    /*refiere al mismo objeto*/
}

tr:nth-child(1)::after {
    content: "";
    /*Se necesita que este en cadena vacpia para que se visualize la linea */
    position: absolute;
    /*cambiar para que salga en absolte para que salga arrioba de los botones
    /*esqina superior izquierda al qye se refiere */
    top: 50%;
    /*cambia en donde empieza la linea desde arriba para abajo */
    right: 5px;
    left: 0;
    height: 5px;
    background-color: indigo;
    z-index: 1;
    pointer-events: none;

}